version: '3.3'
services:
  web:
    image: tubes-1:latest
    ports:
      - 8008:80
    volumes:
      - .:/var/www/html
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - UPLOAD_LIMIT=10M
      - DB_HOST=postgresql

  postgresql:
    image: postgres:latest
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: bewe
      POSTGRES_DB: toco
    volumes:
      - "./db:/docker-entrypoint-initdb.d"
    restart: always
