/* ===#===#===#===#===#=== Mobile ===#===#===#===#===#=== */

.error {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.error .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error .content h1 {
    font-size: 100px;
    margin-bottom: -20px;
}

.error .content .divider {
    width: 100px;
    height: 16px;
    background: var(--grey);
    border-radius: 40px;
    margin: 20px 0;
}

.error .content p {
    text-align: center;
    margin-bottom: 40px;
}

.error .content .go-back-btn {
    letter-spacing: 1px;
    transition: all 0.3s ease 0s;
}

.error .content .go-back-btn:hover {
    transform: translateY(-4px);
    opacity: 0.6;
}

/* ===#===#===#===#===#=== Tablet ===#===#===#===#===#=== */

@media (min-width: 768px) {
    .error .content h1 {
        font-size: 160px;
        margin-bottom: -30px;
    }

    .error .content p {
        margin-top: 20px;
    }
}