.error {
    display: flex;
    position: relative;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.error-header {
    font-size: 200px;
    font-weight: 700;
    color: #F37021;
    text-align: center;
    margin-top: -50px;
}

.error-desc {
    background: linear-gradient(45deg, #006CDB, #8535D4);
    font-size: 40px;
    font-weight: 700;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    line-height: 55px;
    padding-bottom: 10px;
    text-align: center;
}

.error-button {
    margin-top: 40px;
    background: linear-gradient(45deg, #006CDB, #F37021);
    color: #FFFFFF;
    padding: 12px 30px;
    border-radius: 50px;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    opacity: 1;
    transition: all 0.3s ease 0s;
}

.error-button:hover {
    transform: translateY(-4px);
    opacity: 0.6;
}

.error-button:active {
    transform: translateY(6px);
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

@media (max-width: 767px) {
    .error-header {
        font-size: 26vw;
    }

    .error-desc {
        margin: 0 40px;
        font-size: 5vw;
        line-height: normal;
    }
}