/* ===#===#===#===#===#=== Mobile ===#===#===#===#===#=== */

footer {
  background-color: var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

footer .footer-container {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

footer .footer-container h3 {
  margin-bottom: 20px;
}

footer .footer-container .social .social-list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

footer .footer-container .social .social-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

footer .footer-container .social .social-container a {
  cursor: pointer;
}

footer .footer-container .social .social-container .social-list img {
  height: 32px;
}

footer .footer-container .newsletter .newsletter-form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

footer .footer-container .newsletter .newsletter-form input {
  padding: 12px 20px;
  background-color: var(--white);
  border: none;
  border-radius: 10px;
}

footer .footer-container .newsletter .newsletter-form button {
  padding: 12px 20px;
  background: var(--blue-purple-gradient);
  border: none;
  border-radius: 10px;
}

/* ===#===#===#===#===#=== Tablet ===#===#===#===#===#=== */

@media (min-width: 768px) {
  footer .footer-container {
    flex-direction: row;
  }

  footer .footer-container .about {
    width: 40%;
  }

  footer .footer-container .social {
    width: 30%;
  }

  footer .footer-container .newsletter {
    width: 30%;
  }
}