/* === IMPORT === */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* === COLOR === */
:root {
  --white: #fff;
  --black: #000;
  --grey: #999;
  --orange: #F37021;
  --blue: #006CDB;
  --blue-purple-gradient: linear-gradient(45deg, #006CDB, #8535D4);
  --blue-orange-gradient: linear-gradient(45deg, #006CDB, #F37021);
}

/* === GLOBAL CONFIG === */

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

.container {
  width: 95%;
  max-width: 1600px;
}

.admin-container {
  width: 95%;
  max-width: 600px;
}

.hidden {
  display: none;
}

/* === TYPOGRAPHY CONFIG === */

.text-sm {
  font-size: 18px;
}

.text-md {
  font-size: 24px;
}

.text-xl {
  font-size: 48px;
  line-height: 120%;
}

.font-reg {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.text-white {
  color: var(--white);
}

.text-black {
  color: var(--black);
}

.text-grey {
  color: var(--grey);
}

.text-blue {
  color: var(--blue);
}

.text-orange {
  color: var(--orange);
}

.text-blue-purple-gradient {
  background: var(--blue-purple-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.text-blue-orange-gradient {
  background: var(--blue-orange-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* === BUTTON STYLE === */

.primary-button {
  background: var(--blue-purple-gradient);
  color: #FFFFFF;
  padding: 8px 35px;
  border-radius: 50px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
  width: fit-content;
}

.distinct-button {
  background: var(--blue-orange-gradient);
  color: #FFFFFF;
  padding: 8px 35px;
  border-radius: 50px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
  width: fit-content;
}

/* === MEDIA SCREEN === */

/* Mobile starts from 0 to 767px */
/* Tablet starts from 768px to 1023px */
/* Laptop starts from 1024px to 1439px */
/* Desktop starts from 1440px */

@media (min-width: 1024px) {
  .text-sm {
    font-size: 19px;
  }

  .text-md {
    font-size: 25px;
  }

  .text-xl {
    font-size: 54px;
  }
}

@media (min-width: 1440px) {
  .text-sm {
    font-size: 20px;
  }

  .text-md {
    font-size: 30px;
  }

  .text-xl {
    font-size: 60px;
  }
}