.home {
    display: flex;
    position: relative;
    height: 100vh;
    align-items: center;
    overflow-x: hidden;
}

.left-home {
    margin-left: 7%;
}

.home-header1 {
    color: #006CDB;
    font-size: 30px;
    font-weight: 400;
}

.home-header2 {
    background: linear-gradient(45deg, #006CDB, #8535D4);
    font-size: 70px;
    font-weight: 700;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    line-height: 75px;
    padding-bottom: 10px;
}

.right-home {
    position: absolute;
    right: 7%;
    margin-top: 50px;
    z-index: -1;
}

.home-image {
    height: 60vh;
}

.get-started {
    margin-top: 40px;
    background: linear-gradient(45deg, #006CDB, #F37021);
    color: #FFFFFF;
    padding: 12px 30px;
    border-radius: 50px;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    opacity: 1;
    transition: all 0.3s ease 0s;
}

.get-started:hover {
    transform: translateY(-4px);
    opacity: 0.6;
}

.get-started:active {
    transform: translateY(6px);
}

@media (max-width: 700px) {

    .right-home {
        right: -180px;
    }

    .home-header2 {
        background: linear-gradient(45deg, #006CDB, #8535D4);
        font-size: 60px;
        font-weight: 700;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        line-height: 65px;
        padding-bottom: 10px;
    }
}