/* ===#===#===#===#===#=== Mobile ===#===#===#===#===#=== */

.home {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.home .home-container {
    display: flex;
    justify-content: center;
}

/* Hero */

.home .home-container .hero-container {
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 36px 0;
}

.home .home-container .hero-container .left-home {
    display: flex;
    flex-direction: column;
}

.home .home-container .hero-container .left-home .get-started-btn {
    margin-top: 30px;
    letter-spacing: 1px;
    transition: all 0.3s ease 0s;
}

.home .home-container .hero-container .left-home .get-started-btn:hover {
    transform: translateY(-4px);
    opacity: 0.6;
}

.home .home-container .hero-container .left-home .get-started-btn:active {
    transform: translateY(6px);
}

.home .home-container .hero-container .right-home img {
    height: 330px;
    margin-left: -60px;
}

/* ===#===#===#===#===#=== Tablet ===#===#===#===#===#=== */

@media (min-width: 768px) {

    /* Hero */

    .home .home-container .hero-container {
        margin: 72px 0;
        width: 85%;
    }

    .home .home-container .hero-container .right-home img {
        height: 360px;
    }

    .home .home-container .hero-container .left-home {
        gap: 10px;
    }
}

/* ===#===#===#===#===#=== Laptop ===#===#===#===#===#=== */

@media (min-width: 1024px) {

    /* Hero */

    .home .home-container .hero-container .right-home img {
        height: 420px;
    }
}

/* ===#===#===#===#===#=== Desktop ===#===#===#===#===#=== */

@media (min-width: 1440px) {
    /* Hero */

    .home .home-container .hero-container .right-home img {
        height: 620px;
    }
}