.video {
    display: flex;
    position: relative;
    height: 100vh;
    justify-content: center;
    overflow-x: hidden;
    margin-left: 30px;
    margin-right: 30px;
}

.video-header {
    background: linear-gradient(45deg, #006CDB, #8535D4);
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    line-height: 75px;
    padding-bottom: 10px;
    padding-top: 100px;
}

.video-player {
    position: relative;
    max-width: 100%;
    height: auto;
    /* padding-bottom: 40%; 16:9 aspect ratio */
    margin-top: 40px;
    margin-bottom: 40px;
}

.video-description {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #000;
    margin-bottom: 40px;
}

@media (min-width: 768px) {
    .video-header {
        text-align: center;
    }

    .video .video-container {
        max-width: 100%;
        height: auto;
        align-items: center;
    }

    .video-player {
        align-items: center;
        max-width: 70%;
        height: auto;
        margin: auto;
        margin-bottom: 30px;
    }
}